@import "tailwindcss/base";
@import "tailwindcss/components";
@import './shared.scss';
@import "./auth.scss";
@import "./unreset.scss";
@import "tailwindcss/utilities";


@layer components {
    .animate-rotate-center {
        animation: rotate-center 500ms cubic-bezier(0,0,1,1) infinite;
        transform-origin:center center;
    }
    @keyframes rotate-center{
        from {
            transform:rotate(0)
        }
        to {
            transform:rotate(360deg)
        }
    }
}